fastapi==0.115.6
uvicorn[standard]==0.32.1
sqlalchemy==2.0.36
alembic==1.14.0
pydantic==2.10.3
pydantic-settings==2.6.1
python-dotenv==1.0.1
email-validator==2.2.0
requests==2.32.3
gTTS==2.5.1
setuptools==75.6.0
moviepy==1.0.3
Pillow==10.4.0
imageio-ffmpeg==0.4.9
kokoro>=0.9.4
soundfile
